.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination-button {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid #097897;
  background: transparent;
  color: #67cfec;
}

.pagination-button.active {
  background: #01b4e4;
  color: white;
}

.pagination-ellipsis {
  color: #67cfec;
  font-size: 30px;
}

@media (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination-button {
    padding: 0.5rem;
    min-width: 32px;
  }

  .pagination-button.hide-on-mobile {
    display: none;
  }
}
